<!DOCTYPE html>
<html>
	<head>
		<title>txt_2_speech</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
        </head>
	<style>
body{
	width: 100%;
	height: 100vh;
}
h2{
	color: blue;
}
input{
	width: 300px;
	height: auto;
	font-size: 20px;
	color: blue;
	font-weight: 500;
	padding: 5px;
}
        </style>
	<body>
		<section>
			<div>
				<h2>Text to Speech <em>AI</em></h2>
				<p>Created by Coach Ayomide</p>
			</div>
                </section>                                        <section>
			<a href="{{ url_for('index') }}"><input type="button" value="GET STARTED"></a>

		</section>
	</body>
</html>
